# .npmignore

# Ignore development tools and config files
.gitignore
.npmignore
.parcelrc
.parcel-cache
eslint.config.js
tsconfig.app.json
tsconfig.node.json
tsconfig.esm.json
tsconfig.cjs.json
tsconfig.json
index.ts
index.html
package-lock.json
node_modules
minify.js
vite.config.ts

# Ignore source code (optional, depending on your decision to publish source code)
src/
coverage/

# Optionally exclude tests if any
tests/
__tests__/

# Keep dist/ folder and other important files
!dist/
!README.md
!LICENSE